*{
    background-color: aliceblue;
}

h1{
    float: center;
    text-align: center;
}

P{
    text-align: center;
    text-decoration: aqua;
}
.form{
    text-align: center;
}

form{
    width:30%;
    margin:0 auto;
    font-size: 100%;
    flex-direction: left;
    border-style: groove;
}
/*in order to define width*/
label,input{
    display: inline-block;
}

label+input{
    width:30%;
    margin:0 30% 0 4%
}

input+input{
    float:right;
}

img{
    width: 1500px;
    height: 400;
}

.filtered{
    filter:contrast(80%)
}
.back{
    background-color: beige;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

